/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates by masamad.sust@gmail.com

-----------------------------------------------------------------*/


.file-drop-zone-title{
	padding: 0;
	font-size: 1.2em;
}

.form-control{
	background-color: #b1a5cb17;
}

.dark #copyrights, #copyrights.dark {
    color: rgb(255 255 255 / 94%);
}

div#section-contact {
    background-color: #e4e4e43b;
}

.subm-sec-margin-top{
	margin-top: 6vh;
}
