{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>  
        .card-header:hover{
            box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
            background: #00000080;
        }
    </style>
    <div class="text-center mt-1">
        <h2>All the submissions are listed here (total: {{ object_list.count }}) </h2>
    </div>

    <div class="container mb-3">
        <div class="row gutter-40 col-mb-80">
            <div class="postcontent col-lg-9 order-lg-last">
                {% for submission in object_list %}
                <div class="card text-white bg-secondary mb-1">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-lg-11 col-md-12 row">
                                <div class="col-lg-3 col-md-4 border-right">
                                    <span> {{ forloop.counter }}. &nbsp; </span>
                                    <span> 
                                    <i class="icon-study" style="color:#88e91ecf"></i> &nbsp; {{submission.submission_course.course_code}}
                                    </span>
                                </div>
                                <div class="col-lg-3 col-md-4 border-right">
                                    <span> 
                                    <i class="icon-id-card" style="color:#88e91ecf"></i> &nbsp;{{submission.submission_reg_no}}
                                    </span>
                                </div>
                                <div class="col-lg-4 col-md-4 border-right">
                                    <span> 
                                    <i class="icon-time" style="color:#88e91ecf"></i> &nbsp; {{submission.submission_date_time | timesince}} ago
                                    </span>
                                </div>
                                <div class="col-lg-2 col-md-4">
                                    <span> 
                                    <i class="icon-key" style="color:#88e91ecf"></i> &nbsp; {{submission.submission_session_token}}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-12">
                                <span> <a href="{{submission.submission_file.url}}" target="blank"> <i class="icon-files text-white"></i> </a> <i class="icon-trashcan text-danger"> </i></span> 
                            </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
            </div>
           <div class="sidebar col-lg-3 border">
              <p>Filter </p>
           </div>
        </div>
    </div>
{% endblock content %}